<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74B95EA11DFB735300B03661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B95EB81DFB735400B03661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B95EC31DFB735400B03661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9416C4F51E45924200267C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949B0F841E4596A20092FFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949B0F971E4596A20092FFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949B0FA21E4596A30092FFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
