<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ambit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Ambit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>AmbitIntents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AmbitIntents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>AmbitIntentsUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>AmbitIntentsUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>CreateAlarmIntent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CreateAlarmIntentUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SupportCode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Watch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
